.DS_Store
__pycache__/
*.pyc
*.pyo
*.so
*.egg-info
*.egg
*.egg-info/
build/
dist/
.coverage
.coverage.*
.tox
.cache
.pytest_cache
.nox
.mypy_cache
.vscode
.git
.gitignore
.gitmodules
.hg
.hgignore
.hgsub
.hgsubstate